<style>
  .advanced-search-container {
    display: flex;
    position: relative;
    font-size: 14px;
  }
  .advanced-search-category-select {
    border-right: none;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    background-color: #CDCDCD;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: black;
  }
  .advanced-search-no-category {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
  }
  .advanced-search-category-name {
    white-space: nowrap;
  }
  .advanced-search-category-select i {
    margin-left: 15px;
    padding: 0;
    font-size: 10px;
    height: 15px;
    width: 120px;
  }
  .advanced-search-field {
    -webkit-box-shadow: -2px 4px 8px -4px rgba(34, 60, 80, 0.2) inset;
    -moz-box-shadow: -2px 4px 8px -4px rgba(34, 60, 80, 0.2) inset;
    box-shadow: -2px 4px 8px -4px rgba(34, 60, 80, 0.2) inset;
    border-left: none;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    width: 100%;
    background-color: transparent;
    z-index: 97;
  }
  .advanced-search-field-placeholder {
    position: absolute;
    /*left: 123px;*/
    /*width: calc(100% - 125px);*/
    z-index: 97;
    border: none;
    box-shadow: none;
    padding: 5px 15px;
    margin: 0;
    outline: none;
    top: 1px;
    border-radius: 50px;
  }
  .advanced-search-base-styles {
    padding: 5px 15px;
    margin: 0;
    border: 1px solid #e3e3e3;
    outline: none;
    z-index: 99;
  }
  .advanced-search-icon {
    position: absolute;
    top: 23%;
    z-index: 99;
    right: 15px;
    cursor: pointer;
  }
  .advanced-search .advanced-search-container .caret {
    margin-left: 10px;
  }
  .scrollable-menu {
    height: auto;
    max-height: 600px;
    overflow-x: hidden;
  }
  .advanced-search .advanced-search-container .dropdown-menu {
    top: 14px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 97;
    padding: 15px 0 20px;
    border-top: none;
  }
  .advanced-search .advanced-search-container .dropdown-menu li a {
    padding: 8px 35px;
    font-weight: bold;
  }
  .advanced-search .advanced-search-container .dropdown-menu li > a:hover {
    background-color: rgba(205, 205, 205, 0.2);
    background-image: none;
    color: #000;
  }
  .advanced-search .advanced-search-container .dropdown-menu li.divider {
    margin: 10px 35px;
  }

  /* autocomplete  */
  .advanced-search-autocomplete-li {
    padding: 10px 20px 0;
  }
  .ui-menu .ui-menu-item:first-child {
    margin-top: 13px;
  }
  .advanced-search-autocomplete-li:hover {
    background-color: rgba(205, 205, 205, 0.2);
    border: none;
  }
  .advanced-search-autocomplete-li:hover .advanced-search-autocomplete-a {
    background-color: transparent;
    border: none;
  }
  .advanced-search-autocomplete-li .fa-search {
    color: #dadada;
    font-size: 20px;
  }
  .advanced-search-autocomplete-p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
  }
  .advanced-search-autocomplete-div-inner {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }
  .advanced-search-autocomplete-span {
    margin-left: 15px;
  }
  .advanced-search-autocomplete-span-description {
    font-size: 11px;
  }
  .advanced-search-autocomplete-span-description-brand {
    color: gray;
  }
  .advanced-search-autocomplete-span-price {
    font-weight: bold;
  }
  .ui-front {
    z-index: 96 !important;
  }
  .ui-autocomplete .advanced-search-autocomplete-li .ui-corner-all {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    font-size: 14px;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 10px;
  }
  .ui-autocomplete .advanced-search-autocomplete-li:last-child .ui-corner-all {
    border: none;
  }
  .ui-autocomplete .advanced-search-autocomplete-li .ui-state-focus {
    margin: 0;
  }
  .advanced-search-autocomplete-empty-block {
    width: 20px;
    height: 20px;
    background: transparent;
  }
</style>

<div class="advanced-search {{ module_advanced_search_nik_module_class }}">
  <div class="advanced-search-container">
    {% if module_advanced_search_nik_display_category %}
    <span class="advanced-search-category-select advanced-search-base-styles dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
      <span class="advanced-search-category-name" id="advanced-search-category-name">Категории</span>
      <span class="caret"></span>
    </span>

    <ul class="dropdown-menu scrollable-menu advanced-search-category-list">
      {% for category in categories %}
        <li><a href="#" data-category-id="{{ category.category_id }}" data-title="{{ category.name }}">{{ category.name }}</a></li>
      {% endfor %}
      <li role="separator" class="divider"></li>
      <li><a href="#" data-title="Категории">Все категории</a></li>
    </ul>
    {% endif %}
    <input type="hidden" id="advanced-search-selected-category-id">
    <input type="text" id="advanced-search-field" class="advanced-search-field advanced-search-base-styles {% if not module_advanced_search_nik_display_category %}advanced-search-no-category{% endif %}" placeholder="{{ text_search }}" />
    <input type="text" id="advanced-search-field-placeholder" class="advanced-search-field-placeholder" value="" />
    <span class="advanced-search-icon">
      <i class="fa fa-search"></i>
    </span>
  </div>
</div>

<script src="//ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/jquery-ui.min.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<script>
  $(document).ready(function () {
      let w = $('.advanced-search-category-select').outerWidth()
      w = w ? w : 0
      $('.advanced-search-field-placeholder').css({'width' : 'calc(100% - ' + w + 'px)', 'left': w})
  })
  $(function() {
      function search() {
          let url = $('base').attr('href') + 'index.php?route=product/search';
          let value = $('#advanced-search-field').val();
          let category = $('#advanced-search-selected-category-id').val()

          if (value) {
              url += '&search=' + encodeURIComponent(value);

              if(category) {
                  url += '&category_id=' + encodeURIComponent(category);
              }
          }

          location = url;
      }

      $('.advanced-search-icon').on('click', function () {
          search()
      })
      $('#advanced-search-field').bind('keydown', function(e) {
          if (e.keyCode == 13) {
              search()
          }
      });

      $('.advanced-search-category-list a').on('click', function (event) {
          event.preventDefault()
          $('#advanced-search-selected-category-id').val($(this).attr('data-category-id'))
          $('#advanced-search-category-name').text($(this).attr('data-title'))
          let w = $('.advanced-search-category-select').outerWidth()
          $('.advanced-search-field-placeholder').css({'width' : 'calc(100% - '+w+4+')', 'left': w})
      })

      $('#advanced-search-field').autocomplete({
          // delay: 100,
          source: function(request, response) {
              $.ajax({
                  url: 'index.php?route=extension/module/advanced_search_nik/autocomplete&filter_name=' +  encodeURIComponent(request.term) + '&filter_category=' + $('#advanced-search-selected-category-id').val(),
                  dataType: 'json',
                  success: function(json) {
                      response($.map(json, function(item) {
                          return {
                              label:       item.name,
                              value:       item.name,
                              image:       item.image,
                              description: item.description,
                              type:        item.type,
                              price:       item.price
                          }
                      }));
                  }
              });
          },
          select: function(event, ui) {
              $('#advanced-search-field').val(ui.item.label);
              $('.advanced-search-icon').trigger('click');
              return false;
          },
          // position: {  collision: "fit"  },
          open: function() {
              $('ul.ui-autocomplete').addClass('scrollable-menu')
              $("ul.ui-autocomplete").width( $(this).innerWidth() + $('.advanced-search-category-select').outerWidth() );
              let pos = $("ul.ui-autocomplete").position()
              $("ul.ui-autocomplete").css( 'left', pos.left - $('.advanced-search-category-select').outerWidth() )
              $("ul.ui-autocomplete").css( 'top', pos.top - 15 )
          },
          response: function (event, ui) {
              if (ui.content[0]) {
                  // todo insert to placeholder
                  let re = new RegExp(event.target.value.trim(), "ig");

                  let t = ui.content[0].label.replace(re, event.target.value.trim());

                  if((ui.content[0].label.length >= event.target.value.trim().length) && ui.content[0].label.toLowerCase().includes(event.target.value.trim())) {
                      $('.advanced-search-field-placeholder').val(t)
                  } else {
                      $('.advanced-search-field-placeholder').val('')
                  }
              } else {
                  $('.advanced-search-field-placeholder').val('')
              }
          }
      }).data("ui-autocomplete")._renderItem = function (ul, item) {
          let re = new RegExp(this.term.trim(), "ig");
          let t = item.label.replace(re, "<span style='font-weight:bold;'>" + this.term + "</span>");
          let html = "<a class='advanced-search-autocomplete-a'>"

          if (item.type === 'manufacturer' && item.image) {
              html += "<img src='" + item.image + "' />"
          } else if(item.type !== 'category' && item.type !== 'manufacturer' && item.image) {
              html += "<span class='advanced-search-autocomplete-empty-block'></span>"
          } else {
              html += "<i class='fa fa-search'></i>"
          }

          html += "<div class='advanced-search-autocomplete-div-inner'>"
          html += "<p class='advanced-search-autocomplete-p'><span class='advanced-search-autocomplete-span'>" + t + "</span>"

          if (item.description && item.type === 'category') {
              html += "<span class='advanced-search-autocomplete-span advanced-search-autocomplete-span-description'>" + item.description + "</span>";
          }

          if (item.description && item.type === 'manufacturer') {
              html += "<span class='advanced-search-autocomplete-span advanced-search-autocomplete-span-description advanced-search-autocomplete-span-description-brand'>" + item.description + "</span>";
          }

          if (item.price) {
              html += "<span class='advanced-search-autocomplete-span advanced-search-autocomplete-span-price'>" + item.price + "</span>";
          }

          html += '</p>'

          if (item.type !== 'category' && item.type !== 'manufacturer' && item.image) {
              html += "<img src='" + item.image + "' />"
          }

          html += "</div>"
          html += "</a>";
          return $("<li class='advanced-search-autocomplete-li'></li>")
              .data("item.autocomplete", item)
              .append(html)
              .appendTo(ul);
      };

      $("#advanced-search-field").data("ui-autocomplete")._resizeMenu = function () {
          let ul = this.menu.element;
          ul.outerWidth(this.element.outerWidth());
      }

      $("#advanced-search-field").keyup("search", function () {
          if (!this.value) {
              $('.advanced-search-field-placeholder').val('')
          }
      })
  })

    //AUTOCOMPLETE
    // $(document).ready(function() {
    //     $('input[name=\'search\']').autocomplete({
    //         delay: 100,
    //         source: function(request, response) {
    //             $.ajax({
    //                 url: 'index.php?route=product/product/autocomplete&filter_name=' +  encodeURIComponent(request.term),
    //                 dataType: 'json',
    //                 success: function(json) {
    //                     response($.map(json, function(item) {
    //                         return {
    //                             label: item.name,
    //                             value: item.product_id,
    //                             image: item.image
    //                         }
    //                     }));
    //                 }
    //             });
    //         },
    //         select: function(event, ui) {
    //             $('input[name=\'search\']').val(ui.item.label);
    //             $('.button-search').trigger('click');
    //             return false;
    //         },
    //
    //         focus: function(event, ui) {
    //             return false;
    //         }
    //     }).data("autocomplete")._renderItem = function(ul, item) {
    //         if (item.image) html = "<a><img src='" + item.image + "' /> " + item.label + "</a>";
    //         else html = "<a>" + item.label + "</a>";
    //
    //         return $("<li>").data("item.autocomplete", item).append(html).appendTo(ul);
    //     };
    // });
    //
    // $('.button-search').bind('click', function() {
    //     url = $('base').attr('href') + 'index.php?route=product/search';
    //
    //     var search = $('input[name=\'search\']').attr('value');
    //
    //     if (search) {
    //         url += '&search=' + encodeURIComponent(search);
    //     }
    //
    //     location = url;
    // });
    //
</script>